*{
     margin: 0;
     padding: 0;
}
#blur-div{
    display: block;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
#blur-image{
       width: 800px;
       height: 600px;
       filter: blur(50px);
      -webkit-filter:blur(20px);
      z-index: 0;
}
#blur-image,#canvas{
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top:  0;
}
  #canvas{
       z-index: 100;
       /*background-color: red;*/
  }
  .button {
      width: 100px;
      height: 30px;
      z-index: 200;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      position: absolute;
      display: block;
      color: white;
      line-height: 30px;
  }
   #reset-button{
        left: 200px;
        bottom: 20px;
        background-color: #058;
   }
#reset-button:hover{
        background-color: #047;
}
   #show-button{
       right: 200px;
       bottom: 20px;
       background-color: #085;
   }
#show-button:hover{
        background-color: #077;
    }
